################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuditingRecordApp
/.vs/ProjectEvaluation
*.name
/.idea/.idea.AuditingRecordApp/.idea/vcs.xml
